<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestScript.TestCase</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>a</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>c</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>d</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>e</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>f</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>g</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>h</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>i</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>j</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>k</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>l</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>n</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
