<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:36:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.f()[pri:0, instance:TestScript.TestCase@54d9d12d]">f</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:35:51</td>   <td>-12743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.a()[pri:0, instance:TestScript.TestCase@54d9d12d]">a</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:36:25</td>   <td>21740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.i()[pri:0, instance:TestScript.TestCase@54d9d12d]">i</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:36:34</td>   <td>31134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.k()[pri:0, instance:TestScript.TestCase@54d9d12d]">k</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:36:46</td>   <td>42268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.n()[pri:0, instance:TestScript.TestCase@54d9d12d]">n</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:36:29</td>   <td>25579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.j()[pri:0, instance:TestScript.TestCase@54d9d12d]">j</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:35:36</td>   <td>-27184</td> <td>&nbsp;</td><td title="&gt;&gt;TestCase.beforeStart()[pri:0, instance:TestScript.TestCase@54d9d12d]">&gt;&gt;beforeStart</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:35:56</td>   <td>-7340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.d()[pri:0, instance:TestScript.TestCase@54d9d12d]">d</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:36:23</td>   <td>19567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.h()[pri:0, instance:TestScript.TestCase@54d9d12d]">h</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:36:51</td>   <td>47848</td> <td>&nbsp;</td><td title="&lt;&lt;TestCase.closebrowser()[pri:0, instance:TestScript.TestCase@54d9d12d]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:36:00</td>   <td>-3647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.e()[pri:0, instance:TestScript.TestCase@54d9d12d]">e</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:36:41</td>   <td>37816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.l()[pri:0, instance:TestScript.TestCase@54d9d12d]">l</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:35:53</td>   <td>-10690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.c()[pri:0, instance:TestScript.TestCase@54d9d12d]">c</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="ab8173">  <td>22/12/21 17:36:09</td>   <td>5361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.g()[pri:0, instance:TestScript.TestCase@54d9d12d]">g</td> 
  <td>main@640070680</td>   <td></td> </tr>
</table>
