<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="616382">  <td>22/12/20 11:56:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase7.loginaction()[pri:0, instance:TestScript.TestCase7@2b662a77]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>22/12/20 11:54:40</td>   <td>-82204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase11.loginaction()[pri:0, instance:TestScript.TestCase11@158d2680]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="c19091">  <td>22/12/20 11:53:41</td>   <td>-140543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase9.loginaction()[pri:0, instance:TestScript.TestCase9@10e31a9a]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="7479c6">  <td>22/12/20 11:55:22</td>   <td>-40211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase5.loginaction()[pri:0, instance:TestScript.TestCase5@7f3b84b8]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="808ef9">  <td>22/12/20 11:56:33</td>   <td>30768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase14.loginaction()[pri:0, instance:TestScript.TestCase14@7f0eb4b4]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="73f5bc">  <td>22/12/20 11:55:32</td>   <td>-29954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase6.loginaction()[pri:0, instance:TestScript.TestCase6@57a3af25]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="676062">  <td>22/12/20 11:57:29</td>   <td>87389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase2.loginaction()[pri:0, instance:TestScript.TestCase2@c8c12ac]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="6f7171">  <td>22/12/20 11:58:02</td>   <td>120670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase3.loginaction()[pri:0, instance:TestScript.TestCase3@6adbc9d]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="6faea6">  <td>22/12/20 11:57:05</td>   <td>62869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase8.loginaction()[pri:0, instance:TestScript.TestCase8@5c33f1a9]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>22/12/20 11:58:38</td>   <td>155897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase4.loginaction()[pri:0, instance:TestScript.TestCase4@4550bb58]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="929aa9">  <td>22/12/20 11:55:07</td>   <td>-54580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase10.loginaction()[pri:0, instance:TestScript.TestCase10@77847718]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="8d7062">  <td>22/12/20 11:57:15</td>   <td>73693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase1.loginaction()[pri:0, instance:TestScript.TestCase1@1623b78d]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="916c74">  <td>22/12/20 11:54:11</td>   <td>-110522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase12.loginaction()[pri:0, instance:TestScript.TestCase12@131774fe]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="7677d1">  <td>22/12/20 11:53:12</td>   <td>-170226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase13.loginaction()[pri:0, instance:TestScript.TestCase13@564fabc8]">loginaction</td> 
  <td>main@640070680</td>   <td></td> </tr>
</table>
